/* You can add global styles to this file, and also import other style files */
// body {
//   background: url('./assets/hospital.jpg');
//   // background-size: cover;
//   background-repeat: no-repeat;


// }
body {
  margin: 0;
  background: black;

}
.bg-class {
  width: 100%;
}

